<form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)" (click)="$event.stopPropagation()">
  <h2>Register</h2>
  <sf-form-text [value]="modalService.user.email"
    type="email"
    key="email"
    placeholder="Email Address"
    (onValueChange)="modalService.user.email = $event"></sf-form-text>
  <sf-form-text [value]="modalService.user.password"
    type="password"
    key="password"
    placeholder="Password"
    (onValueChange)="modalService.user.password = $event"></sf-form-text>
  <button class="primary action">Register</button>
  <a (click)="onViewChange.emit(ModalView.Register)">Register</a>
  <button class="close icon icon-close icon-before icon-small" (click)="modalService.onClose()"></button>
</form>
