@import '../../styles/constants';

:host {
  > section {
    padding: 100px 0;
    text-align: center;

    > .link {
      display: inline-block;

      > a {
        margin-top: $margin-medium;
      }
    }
  }
}
