@import '../../../styles/constants';
@import '../../../styles/mixins';

@mixin catalogFilters {
  display: block;

  > span {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
  }
}
