@import '../../styles/constants';
@import '../../styles/mixins';

:host {
  position: relative;
  display: block;

  > span,
  > strong {
    display: block;
    margin-top: $margin-small;
  }

  > .name {
    transition: color 200ms ease;
  }

  > a {
    @include fill(absolute);

    &:hover ~ .name {
      color: $color-da2d2d;
    }
  }
}
