@import '../../../styles/constants';
@import '../../../styles/mixins';

@mixin sizes {
  &:nth-child(1) {
    flex: 0 0 20%;
    padding-left: 0;
  }

  &:nth-child(2) {
    flex: 0 0 40%;
  }

  &:nth-child(3) {
    flex: 0 0 10%;
  }

  &:nth-child(4) {
    flex: 0 0 10%;
  }

  &:nth-child(5) {
    flex: 0 0 10%;
  }

  &:nth-child(6) {
    flex: 0 0 10%;
    padding-right: 0;
  }
}

:host {
  &.dropdown {
    > sf-column {
      > sf-row {
        display: none;
      }
    }

    > sf-column {
      > sf-column {
        > sf-row {
          > sf-container {
            padding: $margin-small;

            &:nth-child(2) {
              flex: 0 0 50%;
            }

            &.name {
              > a {
                font-size: 16px;
              }
            }

            &.unit-price {
              display: none;
            }
          }
        }
      }
    }
  }

  > sf-column {
    > sf-row {
      border-bottom: $border;

      > sf-container {
        padding: $margin-small $margin-medium;
        text-align: left;

        @include sizes;
      }
    }

    > sf-column {
      > sf-row {
        border-bottom: $border;

        > sf-container {
          padding: $margin-medium;
          vertical-align: top;

          @include sizes;

          &.name {
            > a {
              font-size: 24px;
              white-space: pre-wrap;
            }
          }

          &.quantity {
            > span {
              display: inline-block;
              padding: 0 $margin-tiny;
              line-height: 20px;
              vertical-align: top;
            }

            > button {
              @include size(20px);
            }
          }

          &.delete {
            text-align: right;

            > button {
              @include size(20px);
            }
          }
        }
      }
    }
  }
}
