:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: none;
  background: rgba(0, 0, 0, 0.5);

  &.active {
    display: block;
  }

  > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 100px;

    > .close {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}
