<ng-template #component let-brands="brands">
  <sf-catalog-active-filters
    *ngIf="filterService.selectedFilters.length"
    [filters]="filterService.selectedFilters"
  ></sf-catalog-active-filters>

  <sf-catalog-filters
    *ngIf="categories.length"
    [filters]="categories"
    [isExternal]="true"
    label="Category"
  ></sf-catalog-filters>

  <sf-catalog-filters
    *ngIf="brands.length"
    [activeFilters]="filterService.selectedFilters"
    [filters]="brands"
    label="Brand"
  ></sf-catalog-filters>
</ng-template>

<ng-container
  *ngTemplateOutlet="component; context: {
    brands: taxonomyStore.brands$ | async
  }"
></ng-container>
