<div *ngIf="!subCategories.length" class="placeholder">
  <div></div>
  <div></div>
  <div></div>
</div>
<div *ngIf="filterService.selectedFilters.length" class="active-filters">
  <button class="inactive">
    <span>Filters</span>
  </button>
  <ul [class.active]="isCategoriesFilterToggleActive">
    <li *ngFor="let selectedFilter of filterService.selectedFilters"
      [class.active]="filterService.isFilterActive(selectedFilter)"
      (click)="filterService.onFilter(selectedFilter)">
      {{selectedFilter.name}} ({{selectedFilter.products}})
    </li>
  </ul>
  <button class="clear" (click)="filterService.onClearFilters()">Clear all filters</button>
</div>
<div *ngIf="subCategories.length" class="categories">
  <button [class.active]="isCategoriesFilterToggleActive"
    class="icon icon-chevron icon-after icon-small"
    (click)="isCategoriesFilterToggleActive = !isCategoriesFilterToggleActive">
    <span>Category</span>
  </button>
  <ul [class.active]="isCategoriesFilterToggleActive">
    <li *ngFor="let subCategory of subCategories" [class.hidden]="!subCategory.products">
      <a [routerLink]="subCategory.key">{{subCategory.name}} ({{subCategory.products}})</a>
    </li>
  </ul>
</div>
<div *ngIf="taxonomyStore.brands$ | async as brands" class="brands">
  <button [class.active]="isBrandsFilterToggleActive"
    class="icon icon-chevron icon-after icon-small"
    (click)="isBrandsFilterToggleActive = !isBrandsFilterToggleActive">
    <span>Brands</span>
  </button>
  <ul [class.active]="isBrandsFilterToggleActive">
    <li *ngFor="let brand of brands"
      [class.active]="filterService.isFilterActive(brand)"
      [class.hidden]="!brand.products"
      (click)="filterService.onFilter(brand)">
      <span class="link">{{brand.name}} ({{brand.products}})</span>
    </li>
  </ul>
</div>
