<form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)" (click)="$event.stopPropagation()">
  <h2>Reset password</h2>
  <sf-form-text [value]="modalService.customer.email"
    type="email"
    key="email"
    placeholder="Email Address"
    (onValueChange)="modalService.customer.email = $event"></sf-form-text>
  <button class="primary action">Reset</button>
  <a (click)="onViewChange.emit(ModalView.ResetPassword)">Reset Password</a>
  <button class="close icon icon-close icon-before icon-small" (click)="modalService.onClose()"></button>
</form>
