@import '../../styles/constants';
@import '../../styles/mixins';

:host {
  display: block;
  height: 400px;

  > div {
    background-color: $color-f5f5f5;
    background-position: center;
    background-size: cover;

    @include size(100%);
  }
}
